:root {
  --primary: #0075ff;
  --second: #0c478c;
  --foot: #141414;
  --button2: #ffc430;
  --secfont: #331716;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Amaranth", "Barlow", sans-serif;
  /* color: #000; */
}

/* navbar start */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 4.5%;
  background-color: var(--primary);
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 508;
  color: white;
}

.navbar .navbar-nav {
  padding-left: 32rem;
}

.navbar-icon {
  padding-left: 0;
}

.navbar .navbar-nav a,
.navbar-icon a {
  color: white;
  margin: 0.1875rem 1.1rem 0 1rem;
  font-size: 1.25rem;
  font-family: barlow;
  font-weight: 650;
  display: inline-block;
}

.navbar .navbar-nav,
.navbar a:hover,
.navbar-icon a:hover {
  color: var(--button2);
}

.navbar .navbar-nav a::after,
.navbar-icon a::after {
  content: "";
  display: block;
  padding-bottom: 0.2rem;
  border-bottom: 0.1rem solid var(--button2);
  transform: scaleX(0);
  transition: 0.2s linear;
}
.navbar .navbar-nav a:hover::after,
.navbar-icon a:hover::after {
  transform: scaleX(0.75);
}

#menu {
  display: none;
}

.namaMenu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.namaMenu > ul > li {
  float: left;
}

.namaMenu li a {
  display: inline-block;
  color: white;
  text-align: center;
  /* padding: 14px 16px; */
  text-decoration: none;
}

.namaMenu > ul > li {
  float: left;
}

li.dropdown {
  display: inline-block;
}

.dropdown:hover .isi-dropdown {
  display: block;
}

.isi-dropdown {
  position: absolute;
  display: none;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 5px 5px;
  z-index: 1;
  background-color: #0075ff;
  top: 3rem;
}

.isi-dropdown li {
  color: #f3f3f3 !important;
  margin-top: 0.4rem;
  text-align: center;
  width: 8rem;
}

.isi-dropdown a:hover {
  color: #0075ff !important;
  background: #f3f3f3 !important;
  width: 100%;
  padding: 0;
  margin: 0;
}

/* navbar start */

/* hero start */
.hero,
.home-2 {
  min-height: 97vh;
  display: flex;
  align-items: center;
  padding: 0rem 4.5%;
  margin: 1rem 15rem 0 0;
}

.hero .row {
  display: flex;
  margin: 3.5rem 0 0 0;
  /* align-items: center; */
}

.content {
  width: 550px;
  height: 300px;
  margin: 5rem 0 0 10rem;
  align-items: center;
}

.content h1,
.home-2-tulisan h1 {
  font-size: 40px;
  color: var(--primary);
  font-weight: 400;
  margin-bottom: 2rem;
}

.content p,
.home-2-tulisan p {
  font-size: 24px;
  font-family: barlow;
  text-align: justify;
  font-weight: 500;
}

.hero-btn {
  font-family: barlow;
  font-weight: 800;
  margin: 2rem 0 0 0;
  font-size: 24px;
  padding: 8px 20px;
  color: white;
  background-color: #0038ff;
  border-radius: 20px;
}

.hero-btn:hover {
  transform: scale(1.04);
}

.hero .hero-img {
  display: flex;
}

.hero .hero-img img {
  width: 406px;
}

.hero-garis {
  display: flex;
  margin: 3rem 0;
  justify-content: center;
}
/* hero end */

/* home-2  start*/

.home-2 .row-home2 {
  display: flex;
  margin: 3.6rem 0 13rem 4rem;
  /* align-items: center; */
  width: 1030px;
  height: 331px;
}

/* .home-2-img {
  display: flex;
} */

.home-2-img img {
  width: 496px;
  height: 331px;
}

.row-home2 .home-2-tulisan {
  width: 487px;
  height: 251px;
  margin: 1.5rem 0 0 3.2rem;
  align-items: center;
}

.home-2-tulisan h1 {
  font-size: 40px;
  color: var(--primary);
  font-weight: 400;
  margin-bottom: 2rem;
}

.home-2-tulisan p {
  font-size: 24px;
  font-family: barlow;
  text-align: justify;
  font-weight: 500;
}

/* home-2 end */

/* -------------------------------------------------------- */

/* halaman about start*/
.about .row-about {
  min-height: 97vh;
  width: 100%;
  display: flex;
  align-items: flex-start;
  /* padding: 0 4.5%; */
  margin: 0 15rem 0 0;
}

.text-about,
.text-contact,
.text-maintenance {
  display: block;
  font-size: 46px;
  margin: 8.5rem 0 1rem 7rem;
  text-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
}

.content-about {
  width: 556px;
  height: 241px;
  margin: 2rem 0 0 7rem;
  align-items: center;
}

.content-about h3 {
  font-size: 28px;
  color: var(--primary);
  font-weight: 560;
  margin-bottom: 1rem;
}

.content-about h2 {
  font-size: 40px;
  font-family: barlow;
  color: black;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
.content-about p {
  font-size: 22px;
  font-family: barlow;
  text-align: justify;
  font-weight: 500;
}

.content-about .utk-penj {
  margin-top: 2rem;
}
.about .about-img,
.contact-img {
  /* display: flex; */
  margin: 0 0 0 5.6rem;
}

.about .about-img img,
.contact-img img {
  width: 376px;
}

/* ---------------------------------- */
/* about bagian2 start */
.about2 {
  min-width: 1200px;
  height: 720px;
  /* display:flex; */
  align-items: center;
  background-image: url("../assets/Vector\ 1.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  /* background-image: url("../assets/rec.png"); */
}

.container-about2 {
  /* top: 130px; */
  padding: 11rem 0 0 0;
}

.container-about2 h1 {
  color: white;
  font-size: 48px;
  text-align: center;
}

.ktk-artinama {
  width: 1080px;
  height: 281px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem 0 3rem;
  margin: 6rem 5rem 0 5rem;
  border: 2px solid #eaeaea;
  background-color: #eaeaea;
  border-radius: 50px;
}

.ktk-artinama h2 {
  font-size: 40px;
  margin: 0;
}

.ktk-artinama .h2-ktk {
  display: block;
}

.ktk-ikon {
  width: 116px;
  height: 105px;
  background-color: #1d213b;
  border-radius: 20px;
  display: flex;
  justify-content: center;
}

.ktk-ikon img {
  width: 70px;
  height: 70px;
  align-self: center;
}

.ktk-artinama h6 {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  margin: 0.8rem 0 0.8rem 0;
}

.ktk-artinama p {
  font-size: 14px;
  text-align: center;
}
/* about bagian2 end */

/* ------------------------------- */
/* about bagian3 start */
.ktk-logo {
  width: 409px;
  height: 167px;
  margin: 6rem auto 2rem auto;
  border: 2px solid #1d213b;
  background-color: #1d213b;
  border-radius: 20px;
}

.ktk-logo img {
  width: 348px;
  margin: 1rem 2rem 1rem 2rem;
}

.text-about3 {
  width: 937px;
  height: 284px;
  font-family: barlow;
  font-size: 24px;
  display: block;
  margin: 4rem auto 8rem auto;
  text-align: center;
}
/* about bagian3 end */

/* halaman about end */
/* ---------------------------------------------------------------- */

/* blog start */
.blog .row-blog {
  display: flex;
  align-items: center;
  /* padding: 0 4.5%; */
  margin: 0 10rem;
  justify-content: space-between;
}

.blog-btn {
  font-family: amaranth;
  font-weight: 700;
  margin: 2rem 0 0 0;
  font-size: 32px;
  padding: 8px 10px;
  color: #331716;
  background-color: #ffc430;
  border: 2px solid #000;
  box-shadow: 0px 8px 2rem 0px rgba(0, 0, 0, 0.2);
}

.blog-btn:hover {
  transform: scale(1.03);
}

.semoga {
  margin-right: -2rem;
}

/* ----------------------------------- */
/* blog bagian 2  start*/

.row-isiBlog {
  display: flex;
  margin: 5rem 7rem;
  justify-content: space-between;
}

.row-isiBlog .content-blog {
  width: 290px;
  height: 249.62px;
  text-align: center;
  /* margin: 0 1rem; */
}

.content-blog .img-blog {
  width: 316px;
  height: 272px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-size: cover;
  background-position: 0.01rem;
  background-repeat: no-repeat;
  box-shadow: 0 1rem 1rem 0 rgba(0, 0, 0, 0.2);
}

.img1 {
  background-image: url("../assets/7.jpg");
}

.img2 {
  background-image: url("../assets/6.jpg");
}

.img3 {
  background-image: url("../assets/3.jpg");
}

.img4 {
  background-image: url("../assets/4.jpg");
}

.content-blog .img-blog:hover {
  transform: scale(1.02);
}

.content-blog h5 {
  font-size: 24px;
  margin-top: 1rem;
}

.content-blog p {
  font-family: barlow;
  font-size: 20px;
  margin-top: 0.5rem;
}

.row2-isiBlog {
  margin-top: 13rem;
  margin-bottom: 15rem;
}
/* blog bagian 2 end */
/* ------------------------------------------------------------------ */
/* contact start */
.row-contact {
  /* min-height: 97vh; */
  width: 100%;
  display: flex;
  align-items: center;
  /* padding: 0 4.5%; */
  margin: 3rem 15rem 0 0;
  justify-content: space-between;
}

.contact-img {
  align-self: flex-start;
  margin-top: 4rem;
}

.form {
  width: 500px;
  height: 590px;
  border-radius: 10px;
  background-color: #eaeaea;
  border: 1px solid black;
  font-size: 16px;
  margin: 0 8rem 10rem 0;
  padding: 2rem 3rem;
}

.alert-form {
  margin-bottom: 1rem;
  background-color: lightgreen;
  height: 2rem;
  padding: 0.5rem 0 1rem 1rem;
  border-radius: 0.3rem;
  opacity: 1;
}

.alert-none {
  display: none;
}

.closebtn {
  margin: 0 1rem 0 0.2rem;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  transform: scale(1.5);
}

.form h1 {
  font-size: 24px;
  margin-bottom: 1rem;
}

.form .label-form {
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  /* border-bottom: 1px solid black; */
}

.btn-form {
  width: 100%;
  height: 47px;
  background-color: #0038ff;
  color: white;
  border-radius: 10px;
  font-size: 20px;
  font-family: amaranth;
  margin-top: 1rem;
}

.btn-form:hover {
  transform: scale(1.02);
}

.btn-loading {
  display: none;
}

.input-form1,
.input-form2,
.input-form3,
.input-form4 {
  width: 100%;
  height: 1.8rem;
  padding: 0 1rem;
  font-family: amaranth;
  border-radius: 5px;
  background-color: #eaeaea;
  border: 1px solid rgba(0, 0, 0, 0.5);
  display: block;
  margin-top: 0.5rem;
}

.input-form4 {
  height: 8rem;
  padding-top: 0.5rem;
}

/* contact end */
/* ----------------------------------------------------------------- */
/* maintenance start */
.text-maintenance {
  text-align: center;
  margin-left: 0;
  margin-right: 0;
}

.maintenance-img img {
  width: 368px;
  margin: 0 28rem;
}

.content-maintenance {
  font-size: 32px;
  font-family: barlow;
  text-align: center;
}
/* maintenance end */
/* ----------------------------------------------------------------- */
/* footer start */
footer {
  background-color: var(--foot);
  align-items: center;
  height: 450px;
}

footer .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer .row .footer-img {
  display: flex;
  margin: 5rem 0 5rem 6rem;
}
footer .row .footer-img img {
  width: 290px;
}

footer .row .contact {
  width: 256px;
  height: 190px;
  margin: 5rem 0 0 0;
}

footer .row .contact h4,
.social-media h4 {
  color: white;
  font-size: 32px;
  margin-bottom: 1.5rem;
}

footer .row .social-media {
  width: 400px;
  height: 88px;
  margin: -1rem 0 0 0;
}

footer .row .social-media h4 {
  color: white;
  font-size: 32px;
  margin-bottom: 1.5rem;
}

footer .row .contact p {
  color: white;
  font-size: 20px;
  margin-bottom: 1.8rem;
}

footer .row .contact p:hover,
footer .row .social-media .icon-media i:hover {
  color: var(--button2);
}

footer .row .social-media .icon-media i {
  display: inline-block;
  color: white;
  margin-right: 1rem;
}

footer .footer-line {
  display: flex;
  margin: 3rem 0;
  justify-content: center;
}

footer .copyright {
  color: white;
  text-align: center;
}
/* footer end */

/* media queries */
/* laptop */
@media (max-width: 1366px) {
  html {
    font-size: 100%;
  }
}
/* tablet */
@media (max-width: 758px) {
  html {
    font-size: 62%;
  }
  #menu {
    display: inline-block;
  }
  .navbar .navbar-nav .namaMenu {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: var(--foot);
    width: 30rem;
    height: 100vh;
  }
  .navbar .navbar-nav .namaMenu.active {
    right: 0;
  }
  .navbar .navbar-nav .namaMenu a {
    color: white;
    display: block;
    margin: 1rem;
    /* 0.1875rem 1rem; */
    padding: 0.3rem;
    font-size: 1.25rem;
  }
  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }
  .navbar .navbar-nav .namaMenu a:hover {
    color: var(--button2);
  }
  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.1);
  }
}
/* mobile phone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
