:root {
  --primary: #0075ff;
  --second: #0c478c;
  --foot: #141414;
  --button2: #ffc430;
  --secfont: #331716;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Amaranth", "Barlow", sans-serif;
  /* color: #000; */
}

/* navbar start */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 4.5%;
  background-color: var(--primary);
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  width: 100%;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 508;
  color: white;
}

.navbar .navbar-nav {
  display: flex;
}

.navbar-icon {
  padding-left: 0;
}

.navbar .navbar-nav a,
.navbar-icon a {
  color: white;
  margin: 0.1875rem 1.1rem 0 1rem;
  font-size: 1.25rem;
  font-family: barlow;
  font-weight: 650;
  display: inline-block;
}

.navbar .navbar-nav,
.navbar a:hover,
.navbar-icon a:hover {
  color: var(--button2);
}

.navbar .navbar-nav a::after,
.navbar-icon a::after {
  content: "";
  display: block;
  padding-bottom: 0.2rem;
  border-bottom: 0.1rem solid var(--button2);
  transform: scaleX(0);
  transition: 0.2s linear;
}
.navbar .navbar-nav a:hover::after,
.navbar-icon a:hover::after {
  transform: scaleX(0.75);
}

#menu {
  display: none;
}

.namaMenu ul {
  list-style-type: none;
}

.namaMenu > ul > li {
  float: left;
}

.namaMenu li a {
  color: white;
  text-align: center;
  text-decoration: none;
}

/* dropdown */
li.dropdown {
  display: inline-block;
}

.dropdown:hover .isi-dropdown {
  display: block;
}

.isi-dropdown {
  position: absolute;
  display: none;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 5px 5px;
  z-index: 1;
  background-color: #0075ff;
  top: 3rem;
}

.isi-dropdown li {
  color: #f3f3f3;
  margin-top: 0.4rem;
  text-align: center;
  width: 8rem;
}

.isi-dropdown a:hover {
  color: #0075ff;
  background: #f3f3f3;
  width: 100%;
  padding: 0;
  margin: 0;
}

.search-form {
  position: absolute;
  top: 100%;
  right: 5%;
  /* background-color: var(--primary); */
  width: 15rem;
  height: 3rem;
  display: flex;
  transform: scaleY(0);
  transition: 0.3s;
  border-top: 5px solid var(--button2);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 0.1rem;
}

.navbar .search-form.active {
  transform: scaleY(1);
}

.navbar .search-form input {
  height: 100%;
  width: 100%;
  color: black;
  padding: 1rem;
  font-size: 1rem;
  font-family: barlow;
  float: right;
}

.navbar .search-form label {
  cursor: pointer;
  font-size: 2rem;
  /* margin-right: 1.5rem; */
  color: black;
}

/* navbar start */

/* hero start */
.hero {
  min-height: 97vh;
  display: flex;
  justify-content: space-between;
  padding: 0rem 6rem;
  margin: 5rem 0 0 7rem;
  /* padding: 0 0 0 5rem; */
  align-items: center;
}

.content {
  width: 34.375rem;
  height: 18.75rem;
  /* margin: 2rem 0 0 0; */
  align-items: center;
}

.content h1,
.home-2-tulisan h1 {
  font-size: 40px;
  color: var(--primary);
  font-weight: 400;
  margin-bottom: 2rem;
}

.content p,
.home-2-tulisan p {
  font-size: 24px;
  font-family: barlow;
  text-align: justify;
  font-weight: 500;
}

.hero-btn {
  font-family: barlow;
  font-weight: 800;
  margin: 2rem 0 0 0;
  font-size: 24px;
  padding: 0.5rem 1.25rem;
  color: white;
  background-color: #0038ff;
  border-radius: 20px;
}

.hero-btn:hover {
  transform: scale(1.04);
}

.hero-img {
  align-self: center;
  margin: -3rem 0 0 1rem;
}

.hero-img img {
  width: 25rem;
  height: 25rem;
  /* margin: -4rem 6rem 0 0; */
}

.hero-garis {
  display: flex;
  margin: 3rem 0;
  justify-content: center;
}
/* hero end */

/* home-2  start*/
.home-2 .row-home2 {
  display: flex;
  margin: 10rem 8rem;
  justify-content: space-between;
}

.home-2-img img {
  width: 496px;
  height: 331px;
}

.row-home2 .home-2-tulisan {
  width: 30.4375rem;
  height: 15.6875rem;
  margin: 1.5rem 0 0 3.2rem;
  align-items: center;
}

.home-2-tulisan h1 {
  font-size: 40px;
  color: var(--primary);
  font-weight: 400;
  margin-bottom: 2rem;
}

.home-2-tulisan p {
  font-size: 24px;
  font-family: barlow;
  text-align: justify;
  font-weight: 500;
}

/* home-2 end */

/* -------------------------------------------------------- */

/* halaman about start*/
.about .row-about {
  min-height: 97vh;
  display: flex;
  justify-content: space-between;
  margin: 1rem 7rem 3rem 7rem;
}

.text-about,
.text-contact,
.text-maintenance {
  display: block;
  font-size: 2.875rem;
  margin: 8.5rem 0 1rem 7rem;
  text-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
}

.content-about {
  width: 34.75rem;
  height: 15.0625rem;
}

.content-about h3 {
  font-size: 1.75rem;
  color: var(--primary);
  font-weight: 560;
  margin: 2.1rem 0 1rem 0;
}

.content-about h2 {
  font-size: 2.5rem;
  font-family: barlow;
  color: black;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
.content-about p {
  font-size: 22px;
  font-family: barlow;
  text-align: justify;
  font-weight: 500;
}

.content-about .utk-penj {
  margin-top: 2rem;
}
.about .about-img,
.contact-img {
  margin-right: 1.1rem;
}

.about .about-img img,
.contact-img img {
  width: 23.5rem;
}

/* ---------------------------------- */
/* about bagian2 start */
.about2 {
  min-width: 75rem;
  height: 45rem;
  /* display:flex; */
  align-items: center;
  background-image: url("../assets/Vector\ 1.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  /* background-image: url("../assets/rec.png"); */
}

.container-about2 {
  /* top: 130px; */
  padding: 11rem 0 0 0;
}

.container-about2 h1 {
  color: white;
  font-size: 3rem;
  text-align: center;
}

.ktk-artinama {
  width: 67.5rem;
  height: 17.5625rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem 0 3rem;
  margin: 6rem 5rem 0 5rem;
  border: 2px solid #eaeaea;
  background-color: #eaeaea;
  border-radius: 3.125rem;
}

.ktk-artinama h2 {
  font-size: 2.5rem;
  margin: 0;
}

.ktk-artinama .h2-ktk {
  display: block;
}

.h2-ktk span {
  display: block;
}

.ktk-ikon {
  width: 7.25rem;
  height: 6.5625rem;
  background-color: #1d213b;
  border-radius: 1.25rem;
  display: flex;
  justify-content: center;
}

.kolom1-ikon,
.kolom2-ikon {
  display: flex;
  justify-content: space-between;
}

#lema,
#bena {
  margin-right: 4.5rem;
}

.ktk-ikon img {
  width: 4.375rem;
  height: 4.375rem;
  align-self: center;
}

.ktk-artinama h6 {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  margin: 0.8rem 0 0.8rem 0;
}

.ktk-artinama p {
  font-size: 0.875rem;
  text-align: center;
}
/* about bagian2 end */

/* ------------------------------- */
/* about bagian3 start */
.ktk-logo {
  width: 25.5625rem;
  height: 10.4375rem;
  margin: 6rem auto 2rem auto;
  border: 2px solid #1d213b;
  background-color: #1d213b;
  border-radius: 1.25rem;
}

.ktk-logo img {
  width: 21.75rem;
  margin: 1rem 2rem;
}

.text-about3 {
  width: 58.5625rem;
  height: 17.75rem;
  font-family: barlow;
  font-size: 1.5rem;
  display: block;
  margin: 4rem auto 8rem auto;
  text-align: center;
}
/* about bagian3 end */

/* halaman about end */
/* ---------------------------------------------------------------- */

/* blog start */
.blog .row-blog {
  display: flex;
  align-items: center;
  /* padding: 0 4.5%; */
  margin: 0 10rem;
  justify-content: space-between;
}

.blog-btn {
  font-family: amaranth;
  font-weight: 700;
  margin: 2rem 0 0 0;
  font-size: 2rem;
  padding: 8px 10px;
  color: #331716;
  background-color: #ffc430;
  border: 2px solid #000;
  box-shadow: 0px 8px 2rem 0px rgba(0, 0, 0, 0.2);
}

.blog-btn:hover {
  transform: scale(1.03);
}

.semoga {
  margin-right: -2rem;
}

/* ----------------------------------- */
/* blog bagian 2  start*/

.row-isiBlog {
  display: flex;
  margin: 5rem 7rem;
  justify-content: space-between;
}

.row-isiBlog .content-blog {
  text-align: center;
  /* margin: 0 1rem; */
}

.content-blog .img-blog {
  width: 19.75rem;
  height: 17rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.625rem;
  background-size: cover;
  background-position: 0.01rem;
  background-repeat: no-repeat;
  box-shadow: 0 1rem 1rem 0 rgba(0, 0, 0, 0.2);
}

.img1 {
  background-image: url("../assets/7.jpg");
}

.img2 {
  background-image: url("../assets/6.jpg");
}

.img3 {
  background-image: url("../assets/3.jpg");
}

.img4 {
  background-image: url("../assets/4.jpg");
}

.content-blog .img-blog:hover {
  transform: scale(1.02);
}

.content-blog h5 {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.content-blog p {
  font-family: barlow;
  font-size: 1.25rem;
  margin-top: 0.5rem;
}

.row2-isiBlog {
  margin-top: 8rem;
  margin-bottom: 8rem;
}
/* blog bagian 2 end */
/* ------------------------------------------------------------------ */
/* contact start */
.row-contact {
  display: flex;
  align-items: center;
  /* padding: 0 4.5%; */
  margin: 3rem 10rem 15rem 10rem;
  justify-content: space-between;
}

.contact-img {
  align-self: flex-start;
  margin-top: 4rem;
}

.form {
  width: 28rem;
  height: 37rem;
  border-radius: 0.625rem;
  background-color: #eaeaea;
  border: 1px solid black;
  font-size: 1rem;
  /* margin: 0 8rem 10rem 0; */
  padding: 2rem 3rem;
}

.alert-form {
  margin-bottom: 1rem;
  background-color: lightgreen;
  height: 2rem;
  padding: 0.5rem 0 1rem 1rem;
  border-radius: 0.3rem;
  opacity: 1;
}

.alert-none {
  display: none;
}

.closebtn {
  margin: -0.1rem 1rem 0 0.2rem;
  font-weight: bold;
  float: right;
  font-size: 1.375rem;
  line-height: 1.25rem;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  transform: scale(1.5);
}

.form h1 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.form .label-form {
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  /* border-bottom: 1px solid black; */
}

.btn-form {
  width: 100%;
  height: 2.9375rem;
  background-color: #0038ff;
  color: white;
  border-radius: 10px;
  font-size: 1.25rem;
  font-family: amaranth;
  margin-top: 1rem;
}

.btn-form:hover {
  transform: scale(1.02);
}

.btn-loading {
  display: none;
}

.input-form1,
.input-form2,
.input-form3,
.input-form4 {
  width: 100%;
  height: 1.8rem;
  padding: 0 1rem;
  font-family: amaranth;
  border-radius: 5px;
  background-color: #eaeaea;
  border: 1px solid rgba(0, 0, 0, 0.5);
  display: block;
  margin-top: 0.5rem;
}

.input-form4 {
  height: 8rem;
  padding-top: 0.5rem;
}

/* contact end */
/* ----------------------------------------------------------------- */
/* maintenance start */
.text-maintenance {
  text-align: center;
  margin-left: 0;
  margin-right: 0;
}

.maintenance-img img {
  width: 23rem;
  margin: 0 28rem;
}

.content-maintenance {
  font-size: 2rem;
  font-family: barlow;
  text-align: center;
  margin-bottom: 10rem;
}
/* maintenance end */
/* ----------------------------------------------------------------- */
/* footer start */
footer {
  background-color: var(--foot);
  align-items: center;
  width: 100%;
}

footer .row-foot {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5rem 5rem 0 5rem;
}

/* kolom 1 - logo */
.kolom1-foot {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin-left: 3rem;
}

footer .kolom1-foot .footer-img img {
  width: 18.125rem;
}

/* kolom 2 - contact */
footer .kolom1-foot .contact-foot {
  /* width: 256px; */
  width: 16rem;
  height: 11.875rem;
  /* margin: 5rem 0 0 0; */
}

footer .kolom1-foot .contact-foot h4,
.social-media h4 {
  color: white;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

/* kolom 2 - sosial media */
footer .row-foot .social-media {
  width: 18rem;
  height: 5.5rem;
  align-self: flex-start;
  /* margin: -1rem 0 0 0; */
}

footer .row-foot .contact-foot p {
  color: white;
  font-size: 1.25rem;
  margin-bottom: 1.8rem;
}

footer .row-foot .contact-foot p:hover,
footer .row-foot .social-media .icon-media i:hover {
  color: var(--button2);
}

footer .row-foot .social-media .icon-media i {
  display: inline-block;
  color: white;
  margin-right: 1rem;
}

/* baris kedua */
footer .footer-line {
  margin: 3rem 10rem;
}

footer .copyright {
  color: white;
  text-align: center;
  padding-bottom: 3rem;
}
/* footer end */
/* --------------------------------------------------------------------- */
/* contain-blog start */
.container-blog {
  background-color: #f8f8f8;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
}

.contain-blog {
  margin: 12rem 0 5rem 4.5rem;
  padding: 1rem;
  background-color: white;
  width: 48.4375rem;
  height: 89.0625rem;
  text-align: center;
}

.contain-blog .kategori-blog {
  background-color: #0c478c;
  color: white;
  width: 5.1rem;
  height: 1.1rem;
  margin: 0 auto 0.5rem auto;
  font-size: 0.8rem;
  text-align: center;
  border-radius: 2px;
}

.contain-blog h1 {
  font-size: 2rem;
}

.ikon-contain-blog {
  margin: 1rem 15rem 0 15rem;
  display: flex;
  justify-content: space-between;
  font-size: 0.64rem;
}
.pembuat-blog,
.tanggal-blog,
.blmtau,
.sebelum-blog,
.setelah-blog {
  display: inline-flex;
}
.ikon-blog {
  margin: 0.05rem 0.3rem 0 0;
}

.img-content-blog img {
  margin-top: 1.5rem;
  width: 34.125rem;
  height: 18.3125rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.contain-blog .text-blog {
  margin: 1.5rem 4rem 5rem 4rem;
  text-align: justify;
  font-family: barlow;
  font-size: 0.9rem;
  line-height: 1.5625rem;
}

.blog-garis img {
  width: 83%;
}

.nav-blog {
  display: flex;
  justify-content: space-between;
  margin: 0 4rem;
}

.nav-ikonBlog1 {
  margin: -0.3rem 0.5rem 0 0;
  color: #0c478c;
}
.nav-ikonBlog2 {
  margin: -0.3rem 0 0 0.5rem;
  color: #0c478c;
}
.nav-blog img {
  height: 3rem;
  width: 0.1rem;
  margin-top: -0.1rem;
}
/* ------------------------------------------------------ */
/* side start */
.sidebar-blog {
  margin: 12rem 4rem 0 3rem;
  width: 19.375rem;
  height: 25.4375rem;
  text-align: center;
}

.sidebar-blog .tentang,
.sidebar-blog .medsos,
.sidebar-blog .postingan-lainnya,
.sidebar-blog .arsip-blog {
  background-color: white;
  margin-bottom: 3.25rem;
  padding-bottom: 2rem;
}

.sidebar-blog .tentang h3,
.sidebar-blog .medsos h3,
.sidebar-blog .postingan-lainnya h3,
.sidebar-blog .arsip-blog h3 {
  background-color: #0c478c;
  color: white;
  padding: 0.7rem 0;
  font-size: 1.1rem;
  font-weight: 100;
}

.tentang img {
  margin: 3rem 0 1rem 0;
  width: 12.0625rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.2rem;
  box-shadow: 0 1rem 1rem 0 rgba(0, 0, 0, 0);
}

.tentang p {
  font-family: barlow;
  margin: 0 3rem;
  text-align: justify;
  font-size: 0.875rem;
  line-height: 1.125rem;
}

.tentang-a {
  margin-top: 1.5rem;
}
.tentang-a a {
  color: #0c478c;
  font-family: barlow;
  font-weight: 600;
  font-size: 0.875.rem;
}
.ikon-blog-medsos {
  color: #000;
  margin: 3rem 1rem 1rem 0;
}
.side-blog1 {
  margin: 3rem 1rem 1rem 1rem;
  display: flex;
  justify-content: space-between;
}
.side-blog1-img {
  width: 5.8125rem;
  height: 5rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-size: cover;
  background-position: 0.01rem;
  background-repeat: no-repeat;
  box-shadow: 0 1rem 1rem 0 rgba(0, 0, 0, 0.1);
  background-image: url("../assets/4.jpg");
}
.side-blog1-p {
  font-size: 0.75rem;
  font-family: barlow;
  text-align: justify;
  width: 9.8125rem;
  margin: 0.2rem 0.7rem 0 0;
  line-height: 1.125rem;
  font-weight: 500;
}
.post-a {
  font-size: 0.75rem;
  margin-top: 0.3rem;
}

.side-img2 {
  background-image: url("../assets/3.jpg");
}
.side-img3 {
  background-image: url("../assets/6.jpg");
}
.dropdown-arsip {
  margin: 1rem 0 0 0;
}
/* media queries */
/* laptop */
@media (max-width: 1440px) {
  html {
    font-size: 100%;
  }
}

@media (max-width: 1081px) {
  footer .row-foot {
    display: block;
  }
  .kolom1-foot {
    width: 85%;
  }
  .social-media {
    margin: 5rem 0 0 5rem;
  }
  .footer-line img {
    width: 100%;
  }
  .hero {
    padding: 0 3rem;
  }
}

@media (max-width: 950px) {
  .hero {
    padding: 0rem 0rem;
    margin: 5rem 13rem;
  }
  .hero-img {
    display: none;
  }
}

@media (max-width: 873px) {
  footer .kolom1-foot {
    display: block;
  }
  .kolom1-foot .contact-foot {
    margin: 4rem 0 4rem 2rem;
  }
}

/* tablet */
@media (max-width: 758px) {
  html {
    font-size: 80%;
  }
  #menu {
    display: inline-block;
  }

  .navbar .navbar-nav .namaMenu {
    position: absolute;
    top: 100%;
    right: -150%;
    background-color: var(--primary);
    border: 1px solid black;
    width: 38rem;
    transition: 0.3s;
  }
  .navbar .navbar-nav .namaMenu.active {
    right: 0;
  }

  .namaMenu > ul > li {
    float: none;
  }

  .navbar-nav .namaMenu li {
    color: white;
    padding: 1rem;
    font-size: 1.25rem;
    display: block;
    margin: auto;
    /* border-bottom: 1px solid black; */
  }
  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }
  .navbar .navbar-nav .namaMenu a:hover {
    color: var(--button2);
  }
  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.1);
  }

  .isi-dropdown {
    position: relative;
    top: 0;
    box-shadow: none;
    border-radius: none;
    border-bottom: none;
  }
  .isi-dropdown li {
    text-align: left;
    width: 100%;
  }
  .isi-dropdown a:hover {
    background: none;
    color: white;
    margin-top: 0.4rem;
    padding: none;
    text-align: left;
  }
}

/* .isi-dropdown a:hover {
  right: 200%;
} */
/* mobile phone */
@media (max-width: 414px) {
  html {
    font-size: 60%;
  }

  .hero {
    padding: 0;
    margin: 0;
    margin-top: 8rem;
    min-height: 30vh;
    align-content: center;
  }

  .content {
    align-content: center;
    margin: 5rem 4rem 2rem 4rem;
    /* width: 55%;
    height: auto; */
  }

  .content h1 {
    font-size: 20px;
    text-align: center;
  }

  .content p,
  .content button {
    font-size: 14px;
  }

  .hero-garis {
    width: 100%;
    align-items: center;
  }
  .hero-garis img {
    width: 80%;
  }
  /* ------------------------------------------------ */
  /* home2 */

  .home-2 .row-home2 {
    display: block;
    margin: 0;
  }

  .home-2-img {
    margin: 8rem 5rem 0rem 5rem;
  }
  .home-2-img img {
    width: 25rem;
    height: auto;
    align-self: center;
    /* margin: auto; */
  }
  .home-2 .home-2-tulisan {
    margin: 5rem 4rem 8rem 4rem;
  }
  .home-2-tulisan h1 {
    font-size: 20px;
    text-align: center;
  }
  .home-2-tulisan p,
  .home-2-tulisan button {
    font-size: 14px;
  }

  /* about */
  .about .row-about {
    display: block;
    margin: 1rem 4rem;
    min-height: 75vh;
  }
  .text-about {
    margin-left: 4rem;
    font-size: 20px;
  }

  .content-about {
    width: 100%;
    margin: 0;
  }

  .content-about h3 {
    font-size: 16px;
    /* text-align: center; */
  }
  .content-about h2 {
    /* margin-top: 20rem; */
    font-size: 18px;
    /* text-align: center; */
  }

  .content-about p {
    font-size: 14px;
    margin-top: 21rem;
    margin-bottom: 0;
  }

  .about .about-img {
    /* margin: -11rem 5rem 0 5rem; */
    margin: -5rem 5rem 0 5rem;
  }

  .about .about-img img {
    width: 80%;
    height: auto;
    margin: 0 2rem;
  }

  /* about 2 */
  .about2 {
    min-width: 0;
    height: auto;
    padding-bottom: 8rem;
  }
  .container-about2 h1 {
    font-size: 18px;
  }
  .ktk-artinama {
    width: auto;
    height: auto;
    display: block;
    padding: 2rem 4rem;
    text-align: center;
    margin-top: 5rem;
  }
  .ktk-artinama h2 {
    font-size: 18px;
    margin-bottom: 2rem;
  }

  .h2-ktk span {
    display: inline;
  }

  .ktk-ikon {
    margin: 1rem auto;
  }
  .kolom1-ikon {
    margin-bottom: 3rem;
  }
  .ktk-artinama h6 {
    font-size: 14px;
  }
  .ktk-artinama p {
    font-size: 11px;
  }

  /* about3 */
  .ktk-logo {
    width: 68%;
  }
  .text-about3 {
    width: 32rem;
    height: auto;
  }
  /* ----------------------------------------------------- */
  /* blog start */
  .blog .row-blog {
    margin: 0 3rem;
  }
  .blog-btn {
    font-size: 14px;
    padding: 4px 5px;
  }
  .semoga {
    margin-right: 0;
  }

  .row-isiBlog {
    display: block;
    /* margin: 5rem; */
    align-items: center;
  }
  .content-blog .img-blog {
    width: 23.5rem;
  }
  .content-blog {
    margin-bottom: 5rem;
  }
  /* ----------------------------------------------------- */
  /* contact */
  .row-contact {
    display: block;
    margin: 0;
  }
  .contact-img {
    margin: 4rem 7rem 5rem 7rem;
  }
  .form {
    margin: 0 5rem 10rem 5rem;
  }
  form h1 {
    font-size: 18px;
  }
  .label-form label {
    font-size: 12px;
  }
  form input,
  form textarea {
    font-size: 12px;
  }
  /* ----------------------------------------------------- */
  /* maintenance */
  .maintenance-img img {
    margin: 0 7.5rem;
  }
  .content-maintenance {
    margin-top: 1rem;
  }

  /* ----------------------------------------------------- */
  /* footer */
  footer .row-foot {
    padding: 5rem 0 0 0;
  }
  footer .footer-line {
    margin: 3rem 5rem;
  }
  /* ----------------------------------------------------- */
  /* content-blog */
  .container-blog {
    display: inline-block;
    min-height: 0;
    justify-content: none;
  }
  .contain-blog {
    /* width: ; */
  }
  .sidebar-blog {
    margin: 0 auto 65rem auto;
    /* position: relative; */
    /* width: ; */
  }
}
